.eyes {
    position: absolute;
    width: 195px;
    display: flex;
    justify-content: space-between;
}

.eye {
    background-color: white;
    height: 40px;
    width: 65px;
    border-radius: 100%;
    border-top: 3px solid hsl(19, 46%, 68%);
    border-bottom: 3px solid hsl(19, 46%, 68%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.eye::before {
    content: '';
    position: absolute;
    width: 41px;
    height: 41px;
    background-color: hsl(78, 10%, 42%);
    border-radius: 100%;
    margin-left: 10px;
    margin-bottom: 5px;
}

.eye::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 100%;
    margin-left: 15px;
    margin-bottom: 7px;
}
